// Fuente Poppins
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap');

@import "mixins";


// Variables
$primary-color: #132f40;
$secondary-color: #007af3;

$bg-white-color: #fff;
$bg-gray-color: #f2f2f2;

$txt-black-color: #111;
$txt-white-color: #f1f1f1;

// Sombra grid project
$shadow-grid: #ccc;
$hr-color: #ddd;


// Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Poppins', Roboto, Helvetica, Arial, Helvetica, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 100%;
    color: $txt-black-color;
}


// Estilos globales
h1 {
    font-size: 1.875em;
    font-weight: 700;
}

p {
    margin: 20px 0 10px;
    font-size: 1.1rem;
}

a {
    @extend taglink;
}

section {
    padding: 3em 1em; //5em top para desktop
}

.section-text {
    padding: 1.25em 0em; //31.875em para desktop
    text-align: left;
}

.titulo {
    text-align: center;
}

hr.space {
    margin-top: 1.25em; //1.875em para desktop
    border: none;
    background-color: $hr-color;
    color: $hr-color;
    height: 0.1px;
}


// Navigation menu
.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $primary-color;
    color: $txt-white-color;
    z-index: 10;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

// Logo
.brand-logo {
    font-size: 1.5rem;
    color: $txt-white-color;
    margin: 1rem;

    span {
        color: $secondary-color;
    }
}

// Menu mobile
.menu {
    display: none;
    width: 100%;
}

.menu ul {
    margin: 0;
    padding: 0;
    width: 100%;
    flex-direction: column;
}

.menu ul li {
    list-style-type: none;
    text-align: center;
}

.menu li a {
    padding: 0.5rem 1rem;
}

.menu li a {
    display: block;
    text-decoration: none;
    color: $txt-white-color;
}

.menu li a:hover {
    background-color: rgba(156, 156, 156, 0.2);
}

.menu.active {
    display: flex;
}

/* Icono hamburguesa */
.toggle {
    position: fixed;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background: url('/img/iconos/menu.png');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

// Icono close
.toggle.active {
    background: url('/img/iconos/close.png');
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
}


/* Fondo Hero */
.bg-image {
    width: 100%;
    height: 70vh;
    background-image: url('/img/hero-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* Board table */
.board {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(19, 47, 64, 0.2);
}

#preview-shadow {
    background-color: $primary-color;
    width: 260px;
    height: 130px;
    padding-left: 30px;
    padding-top: 30px;
}

#preview {
    width: 250px;
    height: 120px;
    border: 1.5px solid $secondary-color;
    background-color: rgba(19, 47, 64, 0.8);
    padding: 10px;
    position: relative;
    text-align: center;
    color: $txt-white-color;
    line-height: 30px;
}

.corner {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1.5px solid $secondary-color;
    background-color: $txt-white-color;
    position: absolute;
}

#corner-tl {
    top: -5px;
    left: -5px;
}

#corner-tr {
    top: -5px;
    right: -5px;
}

#corner-br {
    bottom: -5px;
    right: -5px;
}

#corner-bl {
    bottom: -5px;
    left: -5px;
}

// ========== SECTION ACERCA ==========
.acerca {
    background-color: $bg-white-color;
}

.perfil {
    text-align: center;
}

.foto {
    margin-top: -110px;
}

.foto-img {
    border-radius: 50%;
    vertical-align: top;
    border: 8px solid rgba(255, 255, 255, 0.5);
}

strong {
    color: $secondary-color;
    font-weight: 500;
}

// ========== SECTION PROYECTOS ==========
.proyectos {
    background-color: $bg-gray-color;
}

.grid-project {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5em;
    margin-top: 1.25em; //1.875em para desktop
}

.project {
    background-color: $bg-white-color;
    border-radius: 10px;
    width: 100%;
    height: auto;
    overflow: hidden;
    box-shadow: 6px 6px 50px $shadow-grid;
}

.project-bg {
    width: 100%;

    .item-img {
        width: 100%;
        object-fit: cover;
    }
}

.project-info {
    padding: 1.25em;

    .info {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .info-title:hover {
            color: $txt-black-color;
            text-decoration: underline;
        }

        h3 {
            color: $secondary-color;
        }

        .link-icon {
            margin-left: 0.5em;
            color: $secondary-color;
            font-size: 1.2rem;
            cursor: pointer;

            &:hover {
                color: $txt-black-color;
            }
        }
    }

    .detail-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 0.5em;

        .link {
            margin-left: 1.25em;
            color: $txt-black-color;
            &:hover {
                color: $secondary-color;
                text-decoration: underline;
            }
        }

        .right {
            margin-right: 1.25em;
            &:hover {
                color: $secondary-color;
                text-decoration: underline;
            }
        }
    }
}

// ========== SECTION CITE ==========
.banner-cite {
    width: 100%;
    height: 200px; //300 para desktop
    background-image: url('/img/cite-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.cite {
    height: 100%;
    padding: 0.5em;
    color: $txt-white-color;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


// ========== SECTION TESTIMONIOS ==========
.testimonials {
    background-color: $bg-white-color;
}

// ========== SECTION CONTACTO ==========
.contact {
    background-color: $bg-gray-color;
}


// Media queries
@media only screen and (min-width: 1080px) {

    // Mirar codigo 2021frontend
    .navbar {
        margin: 0 5em;
    }

    // Ocultar icono hamburguesa
    .toggle {
        display: none;
    }
}