// Fuente Poppins
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap');
// Variables
$primary-color: #132f40;
$secondary-color: #007af3;

// Fondo section
$white-first-color: #fff;
$white-second-color: #f2f2f2; //sombra box opinion

// Titulo y parrafo
$black-first-color: #111;
$black-second-color: #4d4d4d;

// Boxshadow y bordes
$gray-color: #ccc; // sombra grid y field contact
$border-color: #ddd; // border box opinion







/* ========== VARIABLES ========== */
// Colores
:root {
    --primary-color: #132f40;
    --secondary-color: #007af3;

    --white-first-color: #fff;
    --white-second-color: #f1f1f1;
    --white-third-color: #f2f2f2;

    --black-first-color: #111;
    --black-second-color: #0a0a23;

    --gray-first-color: #4d4d4d;
    --gray-second-color: #ccc;

    --line-border-color: #ddd;
}

// Conf. generales
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: var(--white-first-color);
    font-family: -apple-system, BlinkMacSystemFont, 'Poppins', Roboto, Helvetica, Arial, Helvetica, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 100%;
}


/* ========== ESTILOS GENERALES ========== */
// Responsive
.grid {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

// Titulos
h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

// Links
a {
    text-decoration: none;
}

// Seccion titulo y parrafo
.section-text {
    padding: 20px 0px 20px;
    text-align: left;

    .title {
        font-size: 30px;
        text-align: center;
    }

    .text {
        line-height: 30px;
        color: var(--black-second-color);
    }
}

// Section
section {
    padding: 30px 0px;
}

// Linea separadora
.line-border {
    border: none;
    background-color: var(--line-border-color);
    color: var(--line-border-color);
    height: 1px;
}

// Logo proximamente
.brand-logo {
    // visibility: hidden;
    color: #fff;
}


/* ========== HEADER ========== */
.navbar {
    position: fixed;
    width: 100%;
    height: 60px;
    padding: 1em;
    background-color: var(--primary-color);
    z-index: 10;
}

.header {
    width: 100%;
    height: 100%;
    // Aquí se agregarán los estilos para el menu desktop
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* ========== MENU MOBILE ========== */
.menu {
    display: none;
}

.menu ul {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--primary-color);
}

.menu ul li {
    list-style-type: none;
    text-align: center;
}

.menu li a {
    display: block;
    color: var(--gray-second-color);

    &:hover {
        color: var(--white-first-color);
    }
}

.menu.active {
    display: flex;
}

// Icono hamburguesa
.toggle {
    position: fixed;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background: url('/img/menu.png');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

// Icono close
.toggle.active {
    background: url('/img/close.png');
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
}


/* ========== CONTENIDO HERO ========== */
.hero {
    width: 100%;
    height: calc(80vh - 60px);
    background-image: url('/img/hero-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero .content-hero {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

// Board table
.board {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

// Board back
#preview-shadow {
    background-color: var(--primary-color);
    width: 280px;
    height: 140px;
    padding-left: 30px;
    padding-top: 30px;
}

// Board Front
#preview {
    width: 270px;
    height: 130px;
    border: 1.5px solid var(--secondary-color);
    background-color: rgba(19, 47, 64, 0.6);
    padding: 15px;
    position: relative;
    text-align: center;
    color: var(--white-first-color);
}

// Estilos nombre y rol
.name {
    font-size: 26px;
    padding-bottom: 10px;
}

.role {
    font-size: 16px;
}

.corner {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1.5px solid var(--secondary-color);
    background-color: var(--white-first-color);
    position: absolute;
}

#corner-tl {
    top: -5px;
    left: -5px;
}

#corner-tr {
    top: -5px;
    right: -5px;
}

#corner-br {
    bottom: -5px;
    right: -5px;
}

#corner-bl {
    bottom: -5px;
    left: -5px;
}


/* ========== SECCIÓN ACERCA ========== */
.about {
    background-color: var(--white-first-color);
    padding: 0;

    .about-section {

        .profile {
            text-align: center;

            .photo-img {
                width: 140px;
                border-radius: 50%;
                margin-top: -80px;
                vertical-align: top;
                border: 8px solid var(--white-first-color);
            }
        }
    }
}


/* ========== SECCIÓN PROYECTOS ========== */
.proyectos {
    background-color: $white-second-color;
}

.grid-project {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.25em;
    margin-top: 1.25em; //1.875em para desktop
}

.project {
    background-color: $white-first-color;
    border-radius: 10px;
    width: 100%;
    height: auto;
    overflow: hidden;
    box-shadow: 6px 6px 50px $gray-color;
}

.project-bg {
    width: 100%;
    height: 250px;

    .item-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.project-info {
    padding: 1.25em;

    .info {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .info-title:hover {
            color: $black-first-color;
            text-decoration: underline;
        }

        h3 {
            color: $secondary-color;
        }

        .link-icon {
            margin-left: 0.5em;
            color: $secondary-color;
            font-size: 1.2rem;
            cursor: pointer;

            &:hover {
                color: $black-first-color;
            }
        }
    }

    .detail-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 0.5em;

        // Iconos color
        i {
            color: $black-second-color;
        }

        // Info color
        .link {
            margin-left: 1.25em;
            color: $black-second-color;

            &:hover {
                color: $secondary-color;
                text-decoration: underline;
            }
        }

        .right {
            margin-right: 1.25em;

            &:hover {
                color: $secondary-color;
                text-decoration: underline;
            }
        }
    }
}

// ========== SECTION CITE ==========
.banner-cite {
    width: 100%;
    height: 200px; //300 para desktop
    background-image: url('/img/cite-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.cite {
    height: 100%;
    padding: 0.5em;
    color: $white-first-color;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h4 {
        margin-top: 10px;
        font-weight: 600;
    }
}


// ========== SECTION TESTIMONIOS ==========
.opinion {
    background-color: $white-first-color;
}

.grid-opinion {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.25em;
    overflow: hidden;
}

.card-opinion {
    border: 1.5px solid $border-color;
    border-radius: 10px;
    box-shadow: 0px 3px 6px $white-second-color;
    padding: 20px;

    .head {
        display: flex;
        align-items: flex-start;

        .user-img {
            width: 80px;
            object-fit: cover;
            border-radius: 50%;
            border: 3px solid $black-second-color;
            padding: 2px;
        }

        .head-title {
            margin-left: 20px;

            // .name-flag {
            //     display: flz

            //     // Icono flag
            //     // .flag-img {
            //     //     margin-left: 10px;
            //     //     width: 30px;
            //     // }
            // }

            p {
                margin: 0;
            }
        }
    }

    blockquote {
        margin-top: 20px; //10px en desktop
        font-size: 1em;
        color: $black-second-color;
        font-style: italic;
    }
}

// ========== SECTION CONTACTO ==========
.contact {
    background-color: $white-second-color;
}

.contact-box {
    position: relative;
    width: 100%;
    // margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

// Columna left contacto
.contact-form {
    position: relative;
    width: 100%;
    // padding: 30px 30px 20px;

    form {
        width: 100%;

        .row {
            width: 100%;
            display: flex;
            flex-direction: column;

            .input50,
            .input100 {
                width: 100%;
            }
        }
    }
}

.contact-form .row input,
.contact-form .row textarea {
    position: relative;
    border: 2px solid $gray-color;
    border-radius: 10px;
    color: $black-first-color;
    background: $white-first-color;
    width: 100%;
    padding: 10px;
    outline: none;
    font-size: 1em;
    font-weight: 300;
    margin: 10px 0;

    &:focus {
        border-color: $black-second-color;
    }
}

.contact-form .row textarea {
    height: 150px;
    resize: none;
}

// Boton enviar
.contact-form .row input[type='submit'] {
    background-color: $primary-color;
    color: $white-first-color;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    outline: none;
    border: 2px solid $primary-color;
    cursor: pointer;

    &:hover {
        border: 2px solid $primary-color;
        background-color: transparent;
        color: $primary-color;
    }
}

// Info contacto
.contact-info {
    width: 350px;
    margin-top: 50px;
    padding: 20px;
}

.contact-info .info-box {
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
}

.contact-info .info-box .contact-icon {
    width: 20px;
    margin-right: 30px;
}

.contact-info .info-box .details h4 {
    color: $primary-color;
    font-weight: 600;
}

.contact-info .info-box .details p,
.contact-info .info-box .details a {
    color: $black-second-color;
    font-weight: 300;
}

.contact-info .info-box .details a:hover {
    color: $secondary-color;
    text-decoration: underline;
}


//========== SECCION FOOTER ==========
.footer {
    background-color: $primary-color;
    width: 100%;
    height: auto;
    overflow: hidden;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .social-media {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .social-bg {
            padding: 10px 20px; //30px para desktop de pl y pr
            margin: 5px;
            border-radius: 5px;
            cursor: pointer;
        }

        .linkedin {
            background-color: #0077b5;

            a {
                color: $white-first-color;
            }

            &:hover {
                transform: scale(0.95);
            }
        }

        .twitter {
            background-color: #1da1f2;

            a {
                color: $white-first-color;
            }

            &:hover {
                transform: scale(0.95);
            }
        }

        .github {
            background-color: #333;

            a {
                color: $white-first-color;
            }

            &:hover {
                transform: scale(0.95);
            }
        }

        .codepen {
            background-color: #313030;

            a {
                color: $white-first-color;
            }

            &:hover {
                transform: scale(0.95);
            }
        }

        .facebook {
            background-color: #3B5998;

            a {
                color: $white-first-color;
            }

            &:hover {
                transform: scale(0.95);
            }
        }
    }

    .creditos {
        margin-top: 30px;

        p {
            color: $white-first-color;
        }
    }
}


/* ========== MEDIA QUERIES ========== */
@media only screen and (min-width: 1080px) {

    // Ocultar icono
    .toggle {
        display: none;
    }

    .menu {
        display: flex;
    }
}