titulosection {
    text-align: center;
    line-height: 3em;
    padding: 10px 50px 50px;
}

bordeinferior {
    padding-bottom: 2px;
    border-bottom: 3px solid #000;
    display: inline;
}

boton {
    padding: 14px 20px;
    background: #fff;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    border: none;
    margin: 8px;
    font-size: 14.2px;
}

textop {
    width: 90%;
    line-height: 24px;
    text-align: center;
}