decoration {
    text-decoration: none;
    color: #fff;
}

titulo {
    text-align: center;
    padding: 40px;
    line-height: 25px;
}

borderbottom {
    padding-bottom: 5px;
    border-bottom: 3px solid transparent;
}