// Estilos boton general
btn {
	background-color: #191A1D;
	color: #f4f4f4;
	padding: 16px 32px;
	cursor: pointer;
	border: none;
    outline: none;
    text-transform: uppercase;
}

decoration {
    text-decoration: none;
    color: #fff;
}

titulo {
    text-align: center;
    padding: 40px;
    line-height: 25px;
}

borderbottom {
    padding-bottom: 5px;
    border-bottom: 3px solid transparent;
}

bannerimage {
    position: relative;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .1s ease-in-out;
}