// Imports
@import "mixins";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// Colores
$primary-color: #191A1D;
$secondary-color: #f4f4f4;
$white-color: #fff;
$black-color: #000;
$dark-color: #333;

body {
    background-color: $white-color;
    font-family: 'Nunito', sans-serif;
}

.main-content {
    background-color: dodgerblue;

    header {
        background-color: $black-color;
        // padding: 20px;

        nav {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            a {
                @extend decoration;
                margin-left: 100px;
            }

            a:first-child {
                color: orangered;
            }
        }
    }
}