// ========== IMPORTS =============
@import "mixins";


// ========== COLORES =============
$white-one: #FFF;
$white-two: #F4F4F4;
$white-third: #DDD;
$dark-one: #000;
$dark-two: #191A1D;
$dark-third: #333;


// ========== CONF GENERALES =============
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $white-third;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}

html {scroll-behavior: smooth;}
h1 {font-size: 30px;}
h2 {font-size: 24px;}
h3 {font-size: 20px;}
h4 {font-size: 18px;}
h5 {font-size: 16px;}
h6 {font-size: 14px;}
a {font-size: 18px;}
p {font-size: 16px;}

.grid {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

.section-title {
    @extend titulosection;
}

.espacio {
    line-height: 20px;
}

.borde {
    @extend bordeinferior;
}

.mod {
    text-decoration: none;
    color: dodgerblue;
    &:hover{text-decoration: underline;}
}

// Investigar su uso
// section {
//     position: relative;
//     overflow: hidden;
// }

// ========== HEADER =============
.container {
    background: #2c3e50;
    // background: $dark-third;
    position: fixed;
    width: 100%;
    z-index: 1;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100px;
}

.logo .img-logo {
    width: 60px;
}

header .menu {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.menu a {
    text-decoration: none;
    color: $white-one;
    padding-bottom: 4px;
    border-bottom: 3.3px solid transparent;
    &:hover{border-bottom: 3.3px solid $white-one;
            transition: all .3s ease-in-out;}
}

.menu a.active {
    border-bottom: 3.3px solid $white-one;
}

// ========== CONTENIDO PRINCIPAL =============
.section-first {
    background: $dark-third;
}

.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('../images/bg-hero.jpg');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-content {
    width: 100%;
    height: 100%;
    color: $white-one;
    background-color: rgba(0, 0, 0, .8);
    line-height: 5.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.avatar {
    margin-top: 9em;
    border: 3.5px solid $white-one;
    border-radius: 50%;
}

.icono {
    font-size: 1.7em;
    margin-top: 2.3em;
    color: $white-one;
}


// ========== SECCIÓN ACERCA =============
.section-second {
    padding: 50px 0;
    background: $white-third;
}

.container-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.perfil {
    width: 50%;
    p{margin-top: 20px;}
}

.skill {
    width: 30%;
    .tool{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: row;
        margin-top: 20px;
        .info{margin-left: 15px;}
    }
}

// ========== SECCIÓN CALL TO ACTION =============
.section-third {
    background: $dark-third;
}

.cta-banner {
    position: relative;
    width: 100%;
    height: 400px;
    background: url('../images/bg-cta.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cta-content {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    color: $white-one;
    line-height: 3em;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2 {
        @extend textop;
        padding: 20px 0;
    }

    .texto-p {
        @extend textop;
    }
}

.btn-container {
    margin-top: 20px;
}

.btn {
    @extend boton;
}

.download {
    border: 1.5px solid $white-one;
}

.download:hover {
    background: transparent;
    color: $white-one;
    border: 1.5px solid $white-one;
}

.wantpage {
    background: transparent;
    color: $white-one;
    border: 1.5px solid $white-one;
}

.wantpage:hover {
    background: $white-one;
    color: $dark-one;
    border: 1.5px solid $white-one;
}


// ========== SECCIÓN PORTFOLIO =============
.section-fourth {
    padding: 50px 0;
    background: $white-third;
}

.container-project {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.project {
    background: $white-one;
    border-radius: 5px;
}

.img-project {
    height: 250px;
    width: 100%;
    overflow: hidden;

    .overlay {
        position: sticky;
        bottom: 0;
        background-color: rgba(0,0,0,.8);
        overflow: hidden;
        width: 100%;
        height: 0;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        transition: .5s ease;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
        div p {
            font-size: 14px;
            color: $white-one;
            @extend textop;
        }

        .gosite {
            margin-top: 20px;
            padding: 10px 20px;
            background: transparent;
            color: $white-one;
            border: 1.5px solid $white-one;
            text-decoration: none;
            display: block;
            &:hover{
                background: $white-one;
                color: $dark-one;
                border: 1.5px solid $white-one;
            }
        }
    }
}

.img-project:hover .overlay {
    height: 100%;
}

.img-project-grid {
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.info-project {
    padding: 5px 10px;
    line-height: 30px;
    h3:hover{
        color: $dark-two;
        text-decoration: underline;
        cursor: pointer;
    }
}

// ========== MEDIA QUERIES =============
// Movil
@media screen and (max-width: 375px) {
    .container-section {
        flex-direction: column;
        .perfil{
            width: 100%;
            text-align: center;
        }
        .skill {
            width: 70%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            margin: 30px auto;
        }
    }

    .container-project {
        grid-template-columns: repeat(1, 1fr);
    }
}

// Tableta
@media screen and (max-width: 768px) {
    .container-project {
        grid-template-columns: repeat(2, 1fr);
    }
}