// Imports
@import "mixins";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// Colores
$primary-color: #191A1D;
$secondary-color: #f4f4f4;
$white-color: #fff;
$black-color: #000;
$dark-color: #333;

body {
    background-color: $secondary-color;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}

//========== INICIO ==========
// .page-container {
//     position: sticky;
// }

.main-content {
    background-color: $primary-color;

    header {
        background-color: $primary-color;
        width: 100%;
        height: 80px;
        // position: fixed;

        display: flex;
        justify-content: space-around;
        align-items: center;

        h1 a {
            @extend decoration;
        }

        nav a{
            @extend decoration;
            @extend borderbottom;
            margin-left: 60px;
        }

        nav a:hover {
            border-bottom: 3px solid $secondary-color;
            transition: all .3s ease-in-out;
        }

        nav a.active {
            border-bottom: 3px solid $secondary-color;
        }
    }

    .banner {
        position: relative;
        width: 100%;
        height: calc(100vh - 80px);
        background: url('../images/background.jpg'), $primary-color;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom center;
        transition: all .1s ease-in-out;        
    }

    .banner-content {
        width: 100%;
        height: 100%;
        color: $secondary-color;
        background-color: rgba(0, 0, 0, .8);
        text-align: center;
        line-height: 50px;

        .avatar {
            margin-top: 80px;
            border: 3px solid $secondary-color;
            border-radius: 50%;
        }

        h2 {
            font-size: 26px;
            margin: 10px 0;
        }

        .icono {
            color: $secondary-color;
            font-size: 2em;
            margin-top: 3.5em;

            &:hover {
                color: rgba(255, 255, 255, .7);
            }
        }
    }
}

//========== ACERCA ==========
.about-content {
    background-color: $secondary-color;

    .titulo {
        @extend titulo;

        h1 {
            font-size: 30px;
        }
    }

    .about {
        background-color: $secondary-color;

        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        padding: 0 160px;

        .profile {
            width: 500px;

            h2 {
                @extend borderbottom;
                width: 55px;
                border-bottom: 3px solid $primary-color;
                font-size: 22px;
            }

            p {
                margin-top: 20px;
                line-height: 25px;
            }
        }

        .skill {
            border: 1px solid #000;
            width: 400px;

            h2 {
                @extend borderbottom;
                width: 70px;
                border-bottom: 3px solid $primary-color;
                font-size: 22px;
            }

            .tool {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
            }
        }
    }

}