// Imports
@import "mixins";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// Colores
$primary-color: #191A1D;
$secondary-color: #f4f4f4;
$white-color: #fff;
$black-color: #000;
$dark-color: #333;

// =========GENERAL============
h1 {font-size: 30px;}
h2 {font-size: 24px;}
h3 {font-size: 20px;}
h4 {font-size: 18px;}
a {font-size: 18px;}
p {font-size: 16px;}

body {
    background-color: $secondary-color;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}

//========== INICIO ==========
.page-container {
    margin: auto;

    .main-content {
        background-color: $primary-color;

        header {
            background-color: $primary-color;
            width: 100%;
            height: 100px;
            padding: 20px 0;

            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;

            .logo a {
                @extend decoration;
                font-size: 26px;
            }

            .menu a {
                @extend decoration;
                @extend borderbottom;
                margin-left: 70px;
            }

            .menu a:hover {
                border-bottom: 3px solid $secondary-color;
                transition: all .3s ease-in-out;
            }

            .menu a.active {
                border-bottom: 3px solid $secondary-color;
            }
        }

        .banner {
            position: relative;
            width: 100%;
            height: calc(100vh - 100px);
            background: url('../images/background.jpg'), $primary-color;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: bottom center;
            transition: all .1s ease-in-out;        
        }

        .banner-content {
            width: 100%;
            height: 100%;
            color: $secondary-color;
            background-color: rgba(0, 0, 0, .7);
            text-align: center;
            line-height: 60px;

            .avatar {
                margin-top: 80px;
                border: 3px solid $secondary-color;
                border-radius: 50%;
            }

            .icono {
                color: $secondary-color;
                font-size: 1.7em;
                margin-top: 2.5em;
                color: #fff;

                &:hover {
                    font-size: 1.72em;
                    color: rgba(255, 255, 255, .7);
                }
            }
        }
    }

    //========== ACERCA ==========
    .about-content {
        background-color: $secondary-color;
        padding: 40px;

        .titulo {
            @extend titulo;
            h1{margin-bottom: 15px;}
        }

        .about {
            background-color: $secondary-color;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-start;
            padding: 30px 120px;

            .profile {
                width: 500px;

                h3 {
                    @extend borderbottom;
                    width: 55px;
                    border-bottom: 3px solid $primary-color;
                }

                p {
                    margin-top: 20px;
                    line-height: 25px;
                }
            }

            .skill {
                width: 300px;

                h3 {
                    @extend borderbottom;
                    width: 70px;
                    border-bottom: 3px solid $primary-color;
                }

                .tool {
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    margin-top: 20px;

                    .info {
                        margin-left: 15px;

                        p {
                            font-size: 15px;
                            font-weight: bold;
                        }

                        small {
                            font-size: 14px;
                        }
                    }
                }
            }
        }

    }

}